.intro-container {
    display: flex;
    height: 90vh;
    margin-top: 6rem;
  }
  
  /* left side styling */
  .left-intro {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
  }
  .intro-name {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-top: -1rem;
  }
  .intro-name > :nth-child(1) {
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
  }
  .intro-name > :nth-child(2) {
    color: var(--orange);
    font-weight: bold;
    font-size: 3rem;
  }
  .intro-name > :nth-child(3) {
    font-weight: 100;
    font-size: 14px;
    color: var(--gray);
    margin-top: 10px;
  }
  .intro-btn {
    width: 6rem;
    height: 2rem;
    transition: var(--transition);
  }
  .intro-icons {
    margin-top: 1rem;
    display: flex;
    gap: 0rem;
  }
  .intro-icons > * {
    transform: scale(0.4);
  }
  .intro-icons > *:hover {
    cursor: pointer;
  }

  /* right side styling */
  .right-intro{
    flex: 1;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  .right-intro>img{
    width: 20rem;
    height: 15rem;
  }
  .right-intro>img:nth-child(1){
    position: absolute;
    right: 18px;
    z-index: -8;
  }
  .right-intro>img:nth-child(2){
    position: absolute;
    right: 2px;
    z-index: 0;
  }
  .right-intro>img:nth-child(3){
    position: absolute;
    top: -5.5rem;
    right: 2px;
    z-index: 1;
    height: 22rem;
  }
  .right-intro>img:nth-child(4){
    position: absolute;
    top: -3rem;
    left: 20px;
    z-index: 1;
    height: 8rem;
    width: 8rem;
  }
  .float-1{
    position: absolute;
    top: -4rem;
    right: -3rem;
    z-index: 9;
  }
  .float-2{
    position: absolute;
    top: 15rem;
    left: 5px;
    z-index: 9;
  }
  .blur{
    position: absolute;
    background:  #5c009528;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    z-index: -9;
    top: -18%;
    left: -5%;
    filter: blur(50px);
  }

  @media screen and (max-width:570px) {
    .intro-container {
      flex-direction: column;
      margin-bottom: 7rem;
    }
    .blur{
      display: none;
    }

     /* left side styling */
  .left-intro {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
  }
  .intro-name {
    text-align: center;
  }
  .intro-name > :nth-child(1) {
    font-size: 1.5rem;
  }
  .intro-name > :nth-child(2) {
    font-size: 1.5rem;
  }
  .intro-name > :nth-child(3) {
    font-size: 10px;
  }
  .intro-btn {
    position: absolute;
    width: 6rem;
    height: 2rem;
    align-self: center;
    left: 6rem;
  }
  .intro-icons {
    margin-top: 1rem;
    display: flex;
    align-self: center;
    gap: 0rem;
  }
  .intro-icons > *:hover {
    cursor: pointer;
    transform: scale(0.5);
  }

  
  /* right side styling */
  .right-intro{
    flex: 1;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
  }
  .right-intro>img{
    width: 15rem;
    height: 12rem;
  }
  .right-intro>img:nth-child(1){
    position: absolute;
    right: 18px;
    z-index: -8;
  }
  .right-intro>img:nth-child(2){
    position: absolute;
    right: 2px;
    z-index: 0;
  }
  .right-intro>img:nth-child(3){
    position: absolute;
    top: -5.5rem;
    right: 2px;
    z-index: 1;
    height: 19rem;
  }
  .right-intro>img:nth-child(4){
    position: absolute;
    top: -2rem;
    left: 20px;
    z-index: 1;
    height: 4rem;
    width: 4rem;
  }
  .float-1{
    scale: .6;
    left: 11rem;
    top: -5rem;
  }
  .float-2{
    scale: .6;
    top: 12rem;
    left: 5rem;
  }

}